# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
/dataSources/4595390b-d3dd-49a5-b243-b31494fb865c.xml
/dataSources.local.xml
/dataSources.xml
/dbnavigator.xml
/dataSources/4595390b-d3dd-49a5-b243-b31494fb865c/storage_v2/_src_/schema/information_schema.FNRwLQ.zip
/vcs.xml
